<form class="form-signin" action="/users/login" method="post">
  <h1 class="h3 mb-3 font-weight-normal">Login panel</h1>
  <%- include('./includes/loginMessage.ejs') %>
  <label for="inputEmail" class="sr-only">Email Address</label>
  <input
    type="email"
    name="email"
    id="inputEmail"
    class="form-control"
    placeholder="Email"
    required
    autofocus
  />
  <label for="inputPassword" class="sr-only">password</label>
  <input
    type="password"
    name="password"
    id="inputPassword"
    class="form-control"
    placeholder="password"
    required
  />
  <div class="checkbox mb-3">
    <label>
      <input name="remember" type="checkbox" value="remember-me" /> remember me
    </label>
  </div>
  <div class="form-group">
    <div
      class="g-recaptcha"
      data-sitekey="6Lfn20MkAAAAAIIej4nqI2DQVORBsLqG3YotbrjC"
    ></div>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
</form>
