<body>
  <section class="notFound">
    <div class="img">
      <img src="/img/backToTheHomepage.png" alt="Back to the Homepage" />
      <img src="/img/Delorean.png" alt="El Delorean, El Doc y Marti McFly" />
    </div>
    <div class="text">
      <h1>404</h1>
      <h2>PAGE NOT FOUND</h2>
      <h3>BACK TO HOME?</h3>
      <a href="http://localhost:3000" class="yes">YES</a>
      <a href="https://discord.gg/QjSBEK3KgU">NO</a>
    </div>
  </section>
</body>
